/*Contacto */
.contacto {
    padding: 40px 20px;
    text-align: center;

}

.contacto ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}


.contacto img {
    filter: invert(68%) sepia(78%) saturate(450%) hue-rotate(125deg) brightness(95%) contrast(90%);
}

.contacto li a:hover img {
    filter: invert(30%) sepia(90%) saturate(600%) hue-rotate(150deg) brightness(110%) contrast(120%);
}




/*habilidades */


.Habilidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 24px;

    padding: 200px;
}


.Habilidades>h2 {
    grid-column: 1 / -1;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8b949e;
    margin-bottom: 8px;
}


.Habilidades h2 {
    grid-column: 1 / -1;

    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8b949e;
    margin-bottom: 8px;
}


.Habilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: block;
    flex-direction: column;
    gap: 20px;
}


.Habilidades ul>li {
    font-weight: 600;
    font-size: 14px;
    color: #00f5c8;
}


.Habilidades ul>li>ul {
    list-style: none;
    padding-left: 14px;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 4px;
}


.Habilidades ul>li>ul>li {
    font-size: 13px;
    color: #c9d1d9;
    opacity: 0.85;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.Habilidades img {
    filter: invert(68%) sepia(78%) saturate(450%) hue-rotate(125deg) brightness(95%) contrast(90%);
    margin-right: 8px;
    vertical-align: middle;
}


